.nav-bar{
    display: flex;
    height: 18mm;
    width: 100%;
}
.d-flex{
    padding: 0;
    margin: 0;
}
.img-n{
    height: 20mm;
}
.txt-n{
    padding-left: 10mm;
}
.s-n{
     max-width: 40mm;
     width: 40mm;
     margin-left: 10mm;
}
.n{
    height: 10mm;
    right: 0;
    padding-left: 50px;
}
.button1{
    margin-right: 5mm;
    width: 40mm;
}
.menu-nav{
    font-size: 0 ;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 100

    }
    .m-o-nv{
        z-index: -1;
    }

@media (max-width: 1250px) {
    .img-n{
        height: 20mm;
        position: absolute;
        top:0;
        left: 22mm;
    }
    .tit{
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    .n{
        height: 10mm;
        top: 0;
        right: 0;
        padding-left: 50px;
        font-size: 10mm;
    }
    .menu-nav{
        top: 4.5mm;
        left:10mm;
        font-size: 9mm;
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 100

    }
    .s-n{
        z-index: 1 !important;
    }
    .m-o-nv{
        z-index: 1;
        position: absolute;
        top: 9px;;
        left: 15px;
    }
    .dropdown-menu{
        position: absolute;
        top: 0;
        left: 0;
    }
    .dw-b{
        background:rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;
        margin-top: 1mm !important;
        font-size: 0 !important;}
    .dw-b:hover{
        background:rgba(0, 0, 0, 1) !important;
        border-color: rgba(0, 0, 0, 1) !important;
        margin-top: 1mm !important;
        font-size: 0 !important;}
}
